@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat.ttf");
}

.reset-styles {
  all: initial;
}

* {
  font-family: "Montserrat", Arial, sans-serif;
}